@mixin container {
  max-width: 1124px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box;
}

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
