@mixin p-1 {
  @include regular;
  font-size: 72px;
  line-height: 80px;
}

@mixin p-2 {
  @include regular;
  font-size: 56px;
  line-height: 62px;
}

@mixin p-3 {
  @include regular;
  font-size: 36px;
  line-height: 42px;
}

@mixin p-4 {
  @include regular;
  font-size: 22px;
  line-height: 30px;
}
