//не, это лишнее, единственный профит делать
//css variable var(--semibold) в проекте чтобы выбирать между 500 и 600,
//эти миксины лишние, там где 700 всегда будет 700

@mixin bold {
  font-weight: 700;
}

@mixin semi-bold {
  font-weight: 600;
}

@mixin regular {
  font-weight: 400;
}
