@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ou8zex');
  src:  url('fonts/icomoon.eot?ou8zex#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?ou8zex') format('truetype'),
  url('fonts/icomoon.woff?ou8zex') format('woff'),
  url('fonts/icomoon.svg?ou8zex#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
