.brand {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: var(--primary-color);
}
.brand:hover {
  color: var(--primary-color);
}

.btn {
  text-decoration: none;
  display: block;
  padding: 4px 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.btn--small {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.btn--big {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.btn--large {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.btn--primary {
  color: var(--color-white);
  background-color: var(--color-black);
}
.btn--primary:hover {
  color: var(--color-black);
  background-color: var(--color-gray);
  transition: background-color 0.2s linear;
}
.btn--secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn--secondary:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: border 0.2s linear;
}
@media screen and (max-width: 767px) {
  .btn--d-none-md {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .btn--d-none-lg {
    display: none !important;
  }
}

.catalog {
  display: flex;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .catalog__categories {
    display: none !important;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.categories__header {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}
.category-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 17px;
  gap: 4px;
}
.category-list__link {
  text-decoration: none;
  display: flex;
  padding: 4px;
  color: var(--primary-color);
  border: 1px solid var(--catalog-category-border-color);
  gap: 4px;
}
.category-list__link .link__text {
  display: block;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category-list__link .link__badge {
  margin-left: auto;
}
.category-list__link:hover, .category-list__link:focus {
  color: var(--secondary-color);
  border: 1px solid var(--catalog-category-hover-border-color);
  transition-property: border, color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.catalog__products {
  width: 100%;
}

.products__control {
  display: flex;
  align-items: center;
}
.products__control .control__action {
  display: flex;
  gap: 4px;
}
.products__control .control__sorting {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .common__main-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .common__mobile-main-menu {
    display: none;
  }
}

.content__container {
  max-width: 1124px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box;
  padding-top: 16px;
}

.general-body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 100vh;
  background-color: var(--container-bg-color);
}

.general-header {
  padding: 16px 0;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--header-bg-color);
}
.general-header__container {
  max-width: 1124px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box;
  display: flex;
}
.general-header__common {
  display: flex;
}
@media screen and (max-width: 767px) {
  .general-header__common {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .general-header__common {
    gap: 32px;
  }
}
.general-header__personal {
  margin-left: auto;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?ou8zex");
  src: url("fonts/icomoon.eot?ou8zex#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ou8zex") format("truetype"), url("fonts/icomoon.woff?ou8zex") format("woff"), url("fonts/icomoon.svg?ou8zex#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e906";
}

.icon-bars:before {
  content: "\e905";
}

.icon-cart:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-arrow-left:before {
  content: "\e902";
}

.icon-heart:before {
  content: "\e903";
}

.icon-heart-fill:before {
  content: "\e904";
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 17px;
  gap: 32px;
}
.main-menu__link {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 1px solid var(--main-menu-bg-color);
}
.main-menu__link:hover, .main-menu__link:focus {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  transition: border-bottom 0.3s linear;
}

.mobile-main-menu {
  font-weight: 700;
  font-size: 20px;
  color: var(--primary-color);
}

.page-info {
  color: var(--primary-color);
  background-color: var(--header-bg-color);
}
@media screen and (max-width: 767px) {
  .page-info {
    padding: 8px 0;
  }
}
@media screen and (min-width: 768px) {
  .page-info {
    padding: 32px 0 30px 0;
  }
}
.page-info__container {
  max-width: 1124px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box;
}
.page-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.page-info__header {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .page-info__header {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 768px) {
  .page-info__header {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
  }
}
.page-info__description {
  margin: 0;
  max-width: 45%;
  font-size: 18px;
  line-height: 26px;
}
@media screen and (max-width: 767px) {
  .page-info__description {
    display: none;
  }
}

.personal {
  display: flex;
  gap: 20px;
  font-size: 17px;
}
.personal__cart {
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: var(--primary-color);
}
.personal__cart:hover, .personal__cart:focus {
  color: var(--secondary-color);
}
.personal__action {
  text-decoration: none;
  color: var(--primary-color);
}
.personal__action:hover, .personal__action:focus {
  color: var(--secondary-color);
}

.products__list {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 264px;
  border: 1px solid var(--secondary-color);
}
.product-card__link {
  text-decoration: none;
}
.product-card__img {
  width: 264px;
  height: 264px;
}
.product-card__img .product-img {
  display: block;
  width: 100%;
}
.product-card__title {
  font-weight: 700;
  font-size: 17px;
  padding: 4px;
  text-align: center;
}
.product-card__footer {
  font-size: 17px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.product-card:hover {
  border: 1px solid var(--primary-color);
}

:root {
  --primary-color: #000;
  --secondary-color: #979797;
  --container-bg-color: #E5E5E5;
  --header-bg-color: #E5E5E5;
  --main-menu-bg-color: #E5E5E5;
  --border-color: #000;
  --color-white: #fff;
  --color-gray: #979797;
  --color-black: #000;
  --catalog-category-border-color: #000;
  --catalog-category-hover-border-color: #979797;
}

.theme-inverse {
  --primary-color: #fff;
  --secondary-color: #979797;
  --container-bg-color: #E5E5E5;
  --header-bg-color: #0D0D0D;
  --main-menu-bg-color: #0D0D0D;
  --border-color: #fff;
}

/*# sourceMappingURL=style.css.map */
