@import "fonts/font-icons";

//не понял профита в собственном файле для работы с icomoon, отчего весь css из icomoon не подключается здесь?
//кроме того, гораздо лучше на уровне icomoon определять весь размер иконочного шрифта, чем делать
//это руками самому
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e906";
}

.icon-bars:before {
  content: "\e905";
}

.icon-cart:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-arrow-left:before {
  content: "\e902";
}

.icon-heart:before {
  content: "\e903";
}

.icon-heart-fill:before {
  content: "\e904";
}
