@import "mixins/container-mixin";
@import "mixins/media-mixin";
@import "mixins/typography/buttons";
@import "mixins/typography/headings";
@import "mixins/typography/paragraphs";
@import "mixins/typography/weight-fonts";

@import "brand";
@import "buttons";
@import "catalog";
@import "common";
@import "content";
@import "general-body";
@import "general-header";
@import "icons";
@import "main-menu";
@import "mobile-main-menu";
@import "page";
@import "personal";
@import "product";
@import "utils";

:root {
  --primary-color: #000;
  --secondary-color: #979797;
  --container-bg-color: #E5E5E5;
  --header-bg-color: #E5E5E5;
  --main-menu-bg-color: #E5E5E5;
  --border-color: #000;

  --color-white: #fff;
  --color-gray: #979797;
  --color-black: #000;

  --catalog-category-border-color: #000;
  --catalog-category-hover-border-color: #979797;
}

.theme-inverse {
  --primary-color: #fff;
  --secondary-color: #979797;
  --container-bg-color: #E5E5E5;
  --header-bg-color: #0D0D0D;
  --main-menu-bg-color: #0D0D0D;
  --border-color: #fff;
}

