@import "mixins/media-mixin";
@import "utils";
@import "icons";
@import "main-menu";
@import "personal";
@import "brand";
@import "mobile-main-menu";
@import "general";
@import "page";

.content {
  margin-top: 16px;
}

:root {
  --primary-color: #000;
  --secondary-color: #979797;
  --container-bg-color: #E5E5E5;
  --header-bg-color: #E5E5E5;
  --border-color: #000;
}

.general-header--dark, .page-ingo--dark {
  --primary-color: #fff;
  --secondary-color: #979797;
  --container-bg-color: #E5E5E5;
  --header-bg-color: #0D0D0D;
  --border-color: #fff;
}

